.buddypress-wrap form.bp-dir-search-form {
    border: 1px solid #eee;
    width: 100%;
    border-radius: 200px;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

#buddypress #header-cover-image {
    overflow: hidden;
    border-radius: 12px;
}

#buddypress #header-cover-image::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-image: linear-gradient(180deg, rgba(6, 45, 42, 0.72) 0%, rgba(19, 111, 99, 0.72) 100%);
}

.single-headers .group-status,
.single-headers .activity {
    color: white;
}

.buddypress-wrap .subnav-filters select {
    background: rgb(245, 245, 245) !important;
    color: rgb(100, 103, 104) !important;
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
    padding-inline-end: 0.75rem !important;
    padding-inline-start: 0.75rem !important;
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important;
    border-radius: 0.75rem !important;
    appearance: none !important;
    background-image: url(../images/icons/arrow-down.svg) !important;
    background-size: auto !important;
    background-position: right 20px center !important;
    background-repeat: no-repeat !important;
}

.buddypress-wrap .select-wrap {
    border: transparent !important;
    box-shadow: none !important;
}

.buddypress-wrap .subnav-filters>ul {
    display: flex;
    align-items: center;
}

.bp-list:after,
.bp-list:before {
    display: none !important;
}

.activity-list .activity-item .activity-content p {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

#buddypress #item-header-cover-image #item-header-avatar a {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    width: 150px;
    height: 150px;
}

#buddypress #item-header-cover-image #item-header-avatar a img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

.single-headers img.avatar {
    margin: 0 !important;
}

#buddypress #item-header-cover-image #item-header-avatar img.avatar {
    border: none !important;
}

#group-admins {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
    padding-top: 6px;
    box-shadow: none !important;
}

#group-admins li {
    border-radius: 50% !important;
    overflow: hidden;
    width: 32px;
    height: 32px;
    padding: 0 !important;
    margin: 0 !important;
}

#group-admins li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.groups-header .desc-wrap .group-description {
    background: none !important;
    box-shadow: none !important;
    padding: 0 !important;
}

.groups-header .desc-wrap {
    background: #EEF6F3 !important;
    border: none !important;
    padding: 1em !important;
    font-weight: 500 !important;
    border-radius: 16px !important;
}

.activity-list.bp-list {
    background-color: rgb(238, 246, 243) !important;
    border: none !important;
    border-radius: 16px !important;
    padding: 24px !important;
}

.activity-list.bp-list li {
    padding: 20px !important;
    border-radius: 20px !important;
    border: 1px solid rgb(224, 225, 225) !important;
    background-color: white !important;
    box-shadow: none !important;
}

.activity-list .activity-item div.item-avatar {
    margin: 0 !important;
    margin-inline-end: 20px !important;
    width: 75px !important;
}

.activity-avatar.item-avatar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px !important;
    height: 75px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
}

.activity-avatar.item-avatar img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    max-width: 100% !important;
}


.activity-list .activity-item .activity-content .activity-inner {
    background: transparent !important;
}

.activity-header p a,
.activity-header p,
.acomment-meta a {
    color: rgb(102, 102, 102);
    font-size: 0.75rem;
    line-height: 1rem;
}

.activity-header p a:first-child,
.acomment-meta a:first-child {
    color: rgb(18, 22, 23);
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}

.acomment-meta {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.acomment-avatar a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px !important;
    height: 75px !important;
    border-radius: 50% !important;
    overflow: hidden !important;
}

.acomment-avatar a img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

.buddypress-wrap .activity-comments .acomment-content {
    border: none !important;
}

.buddypress-wrap.bp-dir-hori-nav:not(.bp-vertical-navs) nav:not(.tabbed-links) {
    border-bottom: 1px solid rgb(242, 242, 242) !important;
    border-top: 1px solid rgb(242, 242, 242) !important;
    box-shadow: none !important;
}

#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items {
    display: flex !important;
    gap: 12px !important;
    align-items: center !important;
}

#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items>li {
    display: flex !important;
    border-radius: 200px !important;
    overflow: hidden !important;
}

#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items>li a {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    gap: 8px;
}

#buddypress.buddypress-wrap .bp-navs ul.bp-priority-object-nav-nav-items>li .count {
    flex-shrink: 0 !important;
    width: 24px !important;
    height: 24px !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.buddypress-wrap .bp-navs li:not(.current) a:focus,
.buddypress-wrap .bp-navs li:not(.current) a:hover,
.buddypress-wrap .bp-navs li:not(.selected) a:focus,
.buddypress-wrap .bp-navs li:not(.selected) a:hover,
.buddypress-wrap .bp-navs li.selected a {
    background: #309c98 !important;
    color: white !important;
}

.buddypress-wrap .activity-comments {
    margin: 0 !important;
    margin-inline-start: 5% !important;

}

@media screen and (max-width: 46.8em) {
    .buddypress-wrap .single-screen-navs {
        border: none !important;
    }
}